@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root{
  --primary: #FA5119;
  --secondary: #454142;
  --tertiary: #F2F2F2;

  --text: #222;
  --bg: #EEE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body{
  font-family: Roboto, sans-serif;
  
  background-color: var(--bg);
  color: var(--text);
}

.react-modal-overlay{
  background-color: rgba( 0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content{
  width: 100%;
  max-width: 580px;
  background-color: var(--bg);
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem
}

.react-modal-close{
  cursor: pointer;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  border: 0;
  background: transparent;
  transition: filter .2s;
  &:hover{
    filter: brightness(0.8);
  }
}